@import "null.css";


@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato-Regular.woff2") format("woff2"),
       url("../fonts/Lato-Regular.woff") format("woff");
   font-style: normal;
   font-weight: 400;
   font-display: swap;
}

@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato-Bold.woff2") format("woff2"),
       url("../fonts/Lato-Bold.woff") format("woff");
   font-style: normal;
   font-weight: 700;
   font-display: swap;
}

@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato-Black.woff2") format("woff2"),
       url("../fonts/Lato-Black.woff") format("woff");
   font-style: normal;
   font-weight: 900;
   font-display: swap;
}

body{
   font-family: "Lato";
   font-weight: 400;
   font-size: 16px;
   font-style: normal;
   line-height: 1.6;
   color: #424551;

}
/* ------------------------------------ */

.title{
   font-size: 46px;
   font-weight: 900;
   line-height: 1.3;
   color: #1E212C;
   text-align: left;
   text-shadow: 2px 4px 4px #63656e;
}

.info-bold p{
   font-weight: 700;
   color: #1E212C;
   font-size: 20px;
   line-height: 1.5;
}

.info-regular p{
   font-size: 16px;
   line-height: 1.625;
   color: #1E212C;
}

.info-right{
   font-size: 20px;
   line-height: 1.5;
   font-weight: 700;
}

.info-list p,
.info-list ul li{
   line-height: 1.625;
}